.App {
  font-family: sans-serif;
  text-align: center;
}
.title {
  text-align: center;
  margin: 0;
  color: #17b9ab;
}
label {
  font-size: 1.7rem;
}
html {
  background-color: #393e46;
}

.mission-card {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 0.5rem;
  border-radius: 0.25rem;
  max-width: 300px;
  margin: 1rem 0rem;
  background-color: #defcf9;
}

.mission-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.mission-card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mission-number {
  background: #52616b;
  width: 2rem;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
  min-width: 2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mission-date {
  font-size: 0.825rem;
  color: #142850;
  margin-bottom: 1rem;
}

.mission-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #17b978;
  margin: 0px;
}

.mission-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filters {
  display: flex;
  flex: 1;
  justify-items: center;
  align-items: center;
}

.date-input {
  display: block;
  flex: 1;
  text-align: center;
}

.date-input > label {
  color: #17b9ab;
  margin-bottom: 1rem;
}

.date-input > input {
  padding: 0.5rem 0.25rem;
  border-radius: 3px;
}
